.phabtaskgraph-graph {
	border: 1px solid #999;
}

.phabtaskgraph-node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.phabtaskgraph-link {
	stroke: #4679BD;
	stroke-opacity: .6;
}

.phabtaskgraph-marker {
	fill: #4679BD;
}

.phabtaskgraph-text {
	font: 9px sans-serif;
	stroke: #444;
	stroke-width: .5px;
}

.phabtaskgraph-tooltip {
	position: absolute;
	padding: 10px;
	font: 12px sans-serif;
	color: white;
	background: #b32424;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
